<!DOCTYPE html>
<html lang="en">
	<!-- ------------------------------------------ -->
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="svg" href="../assets/image/logo-favicon.svg" />
		<link rel="stylesheet" href="../css/bootstrap-icons.css" />
		<link rel="stylesheet" href="/Src/css/style.css" />
		<title>Billito Project</title>
	</head>
	<!-- ------------------------------------------ -->
	<body dir="rtl">
		<!-- -------------------------------------- -->
		<section class="button-list-1">
			<button class="blue-button-fill h32">Lorem ipsum</button>
			<br>
			<button class="blue-button-fill h40">Lorem ipsum</button>
			<br>
			<button class="blue-button-fill h48">Lorem ipsum</button>
			<br>
			<button class="blue-button-fill h56">Lorem ipsum</button>
		</section>
		<!-- -------------------------------------- -->
		<!-- -------------------------------------- -->
		<section class="button-list-2">
			<button class="blue-button-stroke h32">Lorem ipsum</button>
			<br>
			<button class="blue-button-stroke h40">Lorem ipsum</button>
			<br>
			<button class="blue-button-stroke h48">Lorem ipsum</button>
			<br>
			<button class="blue-button-stroke h56">Lorem ipsum</button>
		</section>
		<!-- -------------------------------------- -->
		<!-- -------------------------------------- -->
		<section class="button-list-3">
			<button class="gray-button-stroke h32">Lorem ipsum</button>
			<br>
			<button class="gray-button-stroke h40">Lorem ipsum</button>
			<br>
			<button class="gray-button-stroke h48">Lorem ipsum</button>
			<br>
			<button class="gray-button-stroke h56">Lorem ipsum</button>
		</section>
		<!-- -------------------------------------- -->
		<!-- -------------------------------------- -->
		<section class="button-list-4">
			<button class="social-button">
				<span>Play Store</span>
				<img src="../assets/image/Social media icons-7.svg" alt="">
			</button>
			<br>
			<br>
			<button class="social-button">
				<span>Apple Store</span>
				<img src="../assets/image/Social media icons-8.svg" alt="">
			</button>
		</section>
		<!-- -------------------------------------- -->
	</body>
	<!-- ------------------------------------------ -->
</html>
