<!DOCTYPE html>
<html lang="en">
	<!-- ------------------------------------------ -->
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="svg" href="../assets/image/logo-favicon.svg" />
		<link rel="stylesheet" href="../css/bootstrap-icons.css" />
		<link rel="stylesheet" href="../css/style.css" />
		<title>Billito Project</title>
	</head>
	<!-- ------------------------------------------ -->
	<body dir="rtl">
		<section class="drop-down-item">
			<!-- -------------------------------------- -->
			<ul class="dropdown-ul-mob">
				<span>
					متن ورودی
					<i class="bi bi-chevron-down"></i>
				</span>
				<div class="dropdown-mob-li-box">
					<li>متن ورودی</li>
					<li>متن ورودی</li>
					<li>متن ورودی</li>
					<li>متن ورودی</li>
					<li>متن ورودی</li>
					<li>متن ورودی</li>
				</div>
			</ul>
			<ul class="dropdown-ul-mob-no-outline">
				<span>
					متن ورودی
					<i class="bi bi-chevron-down"></i>
				</span>
				<div class="dropdown-mob-li-box-no-outline">
					<li>متن ورودی</li>
					<li>متن ورودی</li>
					<li>متن ورودی</li>
					<li>متن ورودی</li>
					<li>متن ورودی</li>
					<li>متن ورودی</li>
				</div>
			</ul>
			<!-- -------------------------------------- -->
			<ul class="dropdown-ul-web">
				<span>
					متن ورودی
					<i class="bi bi-chevron-down"></i>
				</span>
				<div class="dropdown-web-li-box">
					<li>متن ورودی</li>
					<li>متن ورودی</li>
					<li>متن ورودی</li>
					<li>متن ورودی</li>
					<li>متن ورودی</li>
					<li>متن ورودی</li>
				</div>
			</ul>
			<ul class="dropdown-ul-web-no-outline">
				<span>
					متن ورودی
					<i class="bi bi-chevron-down"></i>
				</span>
				<div class="dropdown-web-li-box-no-outline">
					<li>متن ورودی</li>
					<li>متن ورودی</li>
					<li>متن ورودی</li>
					<li>متن ورودی</li>
					<li>متن ورودی</li>
					<li>متن ورودی</li>
				</div>
			</ul>
			<!-- -------------------------------------- -->
		</section>
	</body>
	<!-- ------------------------------------------ -->
</html>
