<!DOCTYPE html>
<html lang="en">
	<!-- ------------------------------------------ -->
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="svg" href="../assets/image/logo-favicon.svg" />
		<link rel="stylesheet" href="../css/bootstrap-icons.css" />
		<link rel="stylesheet" href="../css/style.css" />
		<title>Billito Project</title>
	</head>
	<!-- ------------------------------------------ -->
	<body dir="rtl">
		<!-- -------------------------------------- -->
		<section class="search-box-group-h40">
			<input type="search" class="search-box-40">
			<span class="search-box__span-h40">جستجو</span>
			<i class="bi bi-search text-box__i-h40"></i>
		</section>
		<!-- -------------------------------------- -->
		<section class="search-box-group-h48">
			<input type="search" class="search-box-48">
			<span class="search-box__span-h48">جستجو</span>
			<i class="bi bi-search text-box__i-h48"></i>
		</section>
		<!-- -------------------------------------- -->
		<section class="search-box-group-h56">
			<input type="search" class="search-box-56">
			<span class="search-box__span-h56">جستجو</span>
			<i class="bi bi-search text-box__i-h56"></i>
		</section>
		<!-- -------------------------------------- -->
	</body>
	<!-- ------------------------------------------ -->
</html>
