<!DOCTYPE html>
<html lang="en">
	<!-- ------------------------------------------ -->
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="svg" href="../assets/image/logo-favicon.svg" />
		<link rel="stylesheet" href="../css/bootstrap-icons.css" />
		<link rel="stylesheet" href="../css/style.css" />
		<title>Billito Project</title>
	</head>
	<!-- ------------------------------------------ -->
	<body dir="rtl">
		<!-- -------------------------------------- -->
		<section class="text-box-group-h40">
			<input type="text" class="text-box-h40" />
			<i class="bi bi-check-square text-box__i1-h40"></i>
			<span class="text-box__span-h40">متن ورودی</span>
			<i class="bi bi-check-square text-box__i2-h40"></i>
		</section>
		<!-- ---------------------------------- -->
		<section class="text-box-group-h48">
			<input type="text" class="text-box-h48" />
			<i class="bi bi-check-square text-box__i1-h48"></i>
			<span class="text-box__span-h48">متن ورودی</span>
			<i class="bi bi-check-square text-box__i2-h48"></i>
		</section>
		<!-- ---------------------------------- -->
		<section class="text-box-group-h56">
			<input type="text" class="text-box-h56" />
			<i class="bi bi-check-square text-box__i1-h56"></i>
			<span class="text-box__span-h56">متن ورودی</span>
			<i class="bi bi-check-square text-box__i2-h56"></i>
		</section>
		<!-- -------------------------------------- -->
	</body>
	<!-- ------------------------------------------ -->
</html>
